---
layout: default
---

<article class="blog-entry">
    <div class="entry-title">
        <span>★ {{ page.title }}</span>
        <span class="entry-date">{{ page.date | date: "%d %B %Y" }}</span>
    </div>
    
    <div class="entry-body">
        {{ content }}
        
        <hr style="border: 1px dashed #000; margin: 20px 0;">
        
        {% if page.music %}
        <div style="background:#f0f0f0; border-left: 4px solid var(--hot-pink); padding: 5px; font-size: 12px;">
            <i>Şu an dinliyorum: {{ page.music }}</i> 🎵
        </div>
        {% endif %}
    </div>
</article>

<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="btn-88" style="background: var(--border-color); width: auto; padding: 0 10px;">
        << {{ page.previous.title | truncate: 15 }}
    </a>
    {% else %}
    <span></span>
    {% endif %}

    {% if page.next.url %}
    <a href="{{ page.next.url }}" class="btn-88" style="background: var(--border-color); width: auto; padding: 0 10px;">
        {{ page.next.title | truncate: 15 }} >>
    </a>
    {% endif %}
</div>